.main_body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 1fr;
    gap: 4px;
    grid-auto-rows: minmax(auto, auto);
    height: 100%;
    overflow: hidden;
  }

  .main_body_mobile{
    
  }





  .main_body_mobile_landscape{
    gap: 2px !important;
  }


  .main_body_mobile_portrait{
    gap: 8px !important;
  }

  .old_main_body_mobile_landscape {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .default_icon_mobile_landscape {
    display:block;  
    margin-top: 30px;
  }

  .media_controls_mobile_landscape {
    width: 40px !important;
  }

  .grid_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
    grid-auto-rows: minmax(22px, auto);
  }

  .grid_wrapper_follow {
    overflow-x: scroll;
  }

  .cell {
    background-color: black;
    width: 160px;
    height: 90px;
  }

  .header {
    height: 60px;
    padding: 14px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: #222;
  }

  .headerOpen {
    height: 100px !important;
  }

  .headerOpenPlay {
    height: 120px !important;
  }
  
  .header2 {
    height: 350px;
    padding: 10px;
    background-color: #222;
  }
