

  body{
  background-color: #222 !important;
  overflow: hidden;
  }

  .focussed-video{
  ffbackground-color: #111;
  margin: auto;
  }
  .agora_video_player {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  object-fit: contain !important;
  }

  .agora_select {
  margin: 10px;
  display: block;
  width: 240px;
  background-color: #111;
  color: #ddd;
  }

  .cpu_stats{
    color: #81bfe4 !important;
  }

  .cpu_statso{
    width: 250px !important;
    font-size: 18px;
    display: inline-block;
    color: #bfbfbf;
  }

  .cpu_stats_mobile{
    color: #81bfe4 !important;
  }

  .cpu_stats_mobile_o{
    width: 120px !important;
    font-size: 14px;
    display: inline-block;
    color: #bfbfbf;
  }

  .fixed_stat{
    display: inline-block;
    width: 70px;
    text-align: left;
  }

  .fixed_stat_short{
    display: inline-block;
    text-align: left;
    width: 16px;
  }

  .stats_display_inner{
    background-color: rgb(77, 57, 4);
    padding: 2px;
    opacity: 0.9;
  }



  .stats_display {
    color:#ffbf00;
    margin-left: 2px;
    margin-top: 2px;
    position: absolute;
    z-index: 100;
    font-size: 12px;
  }

  .stats_display_inner_low{
    color:#ffbf00 !important;
  }

  .stats_display_small_font {
    font-size: 8px !important;
  }

  .stats_display_large_font {
    font-size: 16px !important;
  }



  .stats_display_local {
    color:#ae47de;
    margin-left: 8px;
    margin-top: 8px;
    position: absolute;
    z-index: 100;
    font-size: 14px;
  }

  .mic_talking {
  background-color: lime-green;
  }

  .local_video {
  ibackground-color: #222;
  margin: 2px;
  margin-left: 3px;
  margin-right: 0px;
  padding: 2px;
  width: 120px;
  height: 90px;
  display: inline-block;
  }

  .hidden {
  display: none !important;
  }


  .remove_agora_video_style{
    background-color: transparent !important;
  }

  .focussed-video-inner {
  ffbackground-color: #111;
  width:100% !important;
  height:100% !important;
  background-image: url("./img/novideo.png") ;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center 50%;
  }

  .remote_video {
  ffbackground-color: #111;
  background-image: url("./img/novideo.png") ;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center 50%;
  margin: 2px;
  padding: 2px;
  width: 120px;
  height: 90px;
  display: inline-block;
  }


  .remote_video_mobile {
    margin: 1px;
    padding: 1px;
  }

  .remote_video_active {
  border-style: solid;
  padding: 0px;
  border-color: #FD5F00;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  }

  .agora_stats {
  width: 100% !important;
  height: 48px;
  pheight: 32px;
  font-size: 14px;
  padding: 2px;
  margin-top: 8px !important;
  margin: 2px;
  bbackground-color: #5b5b5b;
  background-color: #b8b8b8;
  color: black;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  }

  .media_controls {
  font-family: Arial, Helvetica, sans-serif;
  width: 160px;
  color: black;
  display: inline-block;
  }

  .settings_controls {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  color: black;
  display: inline-block;
  }

  .main {
  background: #222;
  }

  #toolbar {
  white-space: nowrap;
  }

  #control_container {
  idisplay: inline-block;
  top: -46px;
  position: relative;
  left: 6px;
  top: -9px;
  left: 0px;
  }

  #stats_container {
  width: 100%;
  float: left;
  margin-right: 3px;
  display: inline-block;
  }


  #player_container {
  width: 100%;
  float: left;
  margin-right: 3px;
  margin-top: 12px;
  padding: 6px;
  padding-top: 11px;
  display: inline-block;
  background-color: #81bfe4 !important;
  }

  #mic_mute {
  background-image: url('img/microphone_1-512.webp');
  }

  .default_icon_mobile {
  width: 60px !important;
  height: 60px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  }

  .button_horizontally_flip {
  transform: scaleX(-1);
  }

  .fullscreen {
  width: 1280px !important;
  height: 720px !important;
  }

  .cam_off_reduced_mobile {
  width: 52px !important;
  height: 44px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding: 12px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  }

  .cam_off_reduced {
  width: 30px !important;
  height: 26px !important;
  padding: 6px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  }

  .default_icon_left_mobile {
  margin-left: 14px !important;
  }

  .default_icon_right_mobile {
  margin-right: 14px !important;

  }

  .default_icon_left {
  margin-left: 10px;
  }

  .default_icon_right {
  margin-right: 10px;
  }

  .default_icon {
  width: 34px;
  height: 34px;
  border-radius: 16%;
  padding: 2px;
  imargin: 6px;

  background-color: #cd5656;
  color: white;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: content-box;
  }


  .play_icon{
  background-color: #81bfe4 !important;
  }    


  ._icon{
    background-color: #81bfe4 !important;
    }    


  .stop_icon{
  width: 28px  !important;
  height: 28px !important;
  margin-top: -3px !important;
  margin-left: 12px;
  opacity: 80% !important;
  }    

  .cue_icon{
    width: 32px  !important;
    height: 32px !important;
    margin-top: -3px !important;
    }    
  


  .media_buttons_enabled {
  background-color: #47aa79 !important;
  }

  .settings_icon {
  background-color: rgb(144, 146, 145) !important;
  }

  #pre-local-player {
  width: 320px;
  height: 180px;
  }

  #grid {
  margin-left: 4px;
  overflow: hidden;
  }


  .lds-ring {
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -80px;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;

  }

  .mic_push {
  background:  rgb(91, 184, 137) !important;
  }
  .lds-ring div {
  z-index: 100;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: 4px solid rgb(91, 184, 137);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color:rgb(91, 184, 137) transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
  }

  @keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
  }
  .modal-content{
    background-color: #fafafa;
  }

  .grid_over{
    position:absolute;
    bottom: 10px;
    right: 10px;
  }

  .mp4label{
    margin-left: 5px;
    margin-right: 5px !important;
    font-size: 16px;
    font-weight: 700;
  }

  .watch_input{
    width: 350px;
  }

  .watch_input_mobile{
    width: 70px;
  }

  #watchiddd{
  width: 18px;
  height: 28px;
  }
  
  #agoravideoplayer{
    width: 100%;
    border-radius: 10px;
  }


  .status_good{
    color: #368b61;
  }

  .status_fair{
    color: #6d7410;
  }

  .status_poor{
    color: #865102;
  }

  .status_critical{
    color: #5f0202;
  }
